<div class="contenedor">
  <h2>Formulario de Registro</h2>
  <form [formGroup]="FormProduct" (ngSubmit)="addProduct()">
    <div class="groupSelect">
      <label for="id">ID</label>
      <input type="text" id="id" formControlName="id" [disabled]="isEditMode">
      <span *ngIf=" FormProduct.get('id')?.invalid && FormProduct.get('id')?.touched">
        <small> ID no válido! Debe tener entre 3 y 10 caracteres.</small>
      </span>
      <span *ngIf="idExiste">
        <small> ID no válido! Este ID ya existe</small>
      </span>
    </div>

    <div class="groupSelect">
      <label for="name">Nombre</label>
      <input type="text" id="name" formControlName="name">
      <span *ngIf=" FormProduct.get('name')?.invalid && FormProduct.get('name')?.touched">
        <small> ID no válido! Debe tener entre 5 y 100 caracteres.</small>
      </span>
    </div>

    <div class="groupSelect">
      <label for="logo">Logo</label>
      <input type="text" id="logo" formControlName="logo">
      <span *ngIf=" FormProduct.get('logo')?.invalid && FormProduct.get('logo')?.touched">
        <small>Texto no válido! Debe ingresar URL.</small>
      </span>
    </div>

    <div class="groupSelect">
      <label for="description">Descripción</label>
      <input type="text" id="description" formControlName="description">
      <span *ngIf=" FormProduct.get('description')?.invalid && FormProduct.get('description')?.touched">
        <small> ID no válido! Debe tener entre 10 y 200 caracteres.</small>
      </span>
    </div>


    <div class="date">
      <div class="groupSelect">
        <label for="date_release">Fecha Liberación</label>
        <input type="date" id="date_release" formControlName="date_release">
        <span *ngIf=" FormProduct.get('date_release')?.invalid && FormProduct.get('date_release')?.touched">
          <small> Fecha no válida! la Fecha debe ser igual o mayor a la fecha actual.</small>
        </span>
      </div>

      <div class="groupSelect">
        <label for="date_revision">Fecha Revisión</label>
        <input type="date" id="date_revision" formControlName="date_revision">
      </div>
    </div>


    <div class="groupbtn">
      <button [disabled]="FormProduct.invalid" type="submit" class="submit btn">
        {{ isEditMode ? 'Actualizar' : 'Enviar' }}
      </button>


      <button (click)="cleanForm() " [disabled]="isEditMode" class="reiniciar btn">Reiniciar</button>
    </div>
  </form>
</div>