<div>
  <table>
    <thead>
      <tr>
        <th>Logo</th>
        <th>Nombre del producto</th>
        <th>Descripción</th>
        <th>Fecha de liberación</th>
        <th>Fecha de reestructuración</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of listProducts">
        <!-- <td>{{product.id}}</td> -->
        <td><img [src]="product.logo" alt="Logo de {{product.name}}" width="50" height="50"></td>
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.date_release}}</td>
        <td>{{product.date_revision}}</td>
      </tr>
    </tbody>
  </table>
</div>
